/* Nasconde il testo originale del link verde */
.phpdocumentor-title__link {
    font-size: 0 !important;
    line-height: 0 !important;
    color: transparent !important;
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
}

/* Inietta il logo al posto del testo */
.phpdocumentor-title__link::after {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 90px !important;
    background-image: url('https://raw.githubusercontent.com/HZKnight/eXperience-CORE/e1f2f88c8540db1c3ae868605dd5b2540b599907/assets/logodoc.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
}
